{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}

<div class="col-sm-12 col-md-4  my-3 ">
    <div class= "card  card-article rounded
        {% if article.is_featured %} featured{% endif %}
        {% if not article.published %} unpublished{% endif %}">
        
        <div class="card-image">
            {% if article.categories.exists %}
                {% for category in article.categories.all %}
                <span class="card-notify-badge">{{ category.name }}</span>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}

                {# The image is only shown on the detail view by using the condition "and detail_view" #}
                {% if article.featured_image_id and detail_view %}
                    <img src="{% thumbnail article.featured_image 877x514 crop subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}">
                {% else %}
                    <img class="card-img-top" src="{% thumbnail article.featured_image 300x200 crop upscale subject_location=article.featured_image.subject_location %}" alt="{{ article.featured_image.alt }}">
                {% endif %}
            {% endif %}
        </div>

        <div class="card-body">
            {% if not detail_view %}
                <h5 class="card-title px-1"><a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">{% render_model article "title" %}</a></h5>
            {% else %}
                <div class="description-box animateBottomName">
                    {% render_model article "title" %}
                </div>
            {% endif %}
        </div>
        <div class="card-footer">
            <small class="text-muted">{{ article.publishing_date|date }}</small>
        </div>
    </div>
  
</div>
