{% extends "nnuh_doctors/fullwidth.html" %}
{% load sekizai_tags i18n crispy_forms_tags cms_tags bootstrap_pagination %}

{% block css %}
    {{ form.media.css }}
{% endblock %}

{% block content %}
{% placeholder "content" %}
    <div id="search_doctor" class="card mb-3">
        <div class="card-header">
            <h3>{% trans 'Search for a Doctor' %}</h3>
        </div>
        <div class="py-3">
            <form method="GET" action="." novalidate>
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
    </div>

    {% block people_content %}
        <h1 class="page-title">
            {% trans 'Our Doctors' %}
        </h1>
        <div class="row">
            {% if doctor_list %}
                {% for doctor in doctor_list %}
                    <div class="col-12 col-md-6 col-lg-3 mb-3">
                        {% include "nnuh_doctors/includes/doctor.html" with doctor=doctor %}
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-info">{% trans "No results found, use one filter only" %} </div>
            {% endif %}
        </div>
        <div class="mt-4 d-flex justify-content-end">
            {% if LANGUAGE_BIDI %}
                {% bootstrap_paginate page_obj range=3 previous_label="&rarr;" next_label="&larr;" show_first_last=True %}
            {% else %}
                {% bootstrap_paginate page_obj range=3 previous_label="&larr;" next_label="&rarr;" show_first_last=True %}
            {% endif %}
        </div>
    {% endblock people_content %}
{% endblock content %}



{% block js %}
    {{ form.media.js }}
{% endblock %}