{% extends "nnuh_jobs/base.html" %}
{% load i18n cms_tags thumbnail apphooks_config_tags %}

{% block job_content %}
    <div class="row">
        <div class="col-lg-9">
            <h3>{% render_model job 'title' %}</h3>
            <small class="d-block text-muted mb-3"><i class="fas fa-calendar"></i> {{ job.publishing_date|date }}</small>
                {% render_placeholder job.content language placeholder_language %} 
               
                {% if job.get_active and job.can_apply %}
                    <a href="{% namespace_url 'apply-job-form' slug=job.slug jobId=job.id %}">{% trans "Apply To Job:" %}{% render_model job 'title' %}</a>
                {% else %}
                    {% trans "you cannot apply to this Job" %}
                {% endif %}
            <ul class="list-unstyled d-flex justify-content-center mt-5">
                {% if prev_job %}
                    <li><a href="{{ prev_job.get_absolute_url }}" class="btn btn-outline-primary rounded mx-3">{% trans "Previous Job" %}</a></li>
                {% endif %}
                    <li><a href="{% namespace_url "job-list" %}" class="btn btn-outline-primary rounded mx-3">{% trans "Back to Jobs" %}</a></li>
                {% if next_job %}
                    <li><a href="{{ next_job.get_absolute_url }}" class="btn btn-outline-primary rounded mx-3">{% trans "Next Job" %}</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col-lg-3">
            {% static_placeholder "job_sidebar" %}
        </div>
    </div>
{% endblock %}
